{% extends 'user\user_main_page.html' %}
{% load static %}

{% block dname%} User Dashboard{%endblock%}
{% block serviceProvider %}

<div class="container">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Services Available</h4>
     
          {% for service_display in service_view %}
          {% if forloop.first %}<div class="row">{% endif %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="category-image">
                  <a data-bs-target="#request_service" data-bs-toggle="modal">
                    <img src="{{service_display.image.url}}" class="mb-1 mw-100 w-100 rounded" height="220" alt="image">
                  </a>
                </div>
                <h4> {{service_display.service_name}}</h4>
                <a class="nav-link" style="cursor: pointer;" data-bs-toggle="modal"
                  data-bs-target="#request_service_form">
                  <button type="button" href="#">Request Service</button>
                </a>
                <a class="nav-link" style="cursor: pointer;" data-bs-toggle="modal"
                  data-bs-target="#view_service_details_form">
                  <button type="button"  href="">View Service Details</button>
                </a>
              </div>

            </div>

          </div>
          {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
          {% endfor %}
          <div>

            <!-- Modal for request service -->
            <div class="modal fade" id="request_service_form" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="width: 130%;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                      <!-- <h2 class="title">Ad Registration</h2> -->

                      <form method="POST" enctype="multipart/form-data" id="form-raw-material">
                        <!-- For checking errors -->
                        {% if form.errors %}
                        {% for field in form %}
                        <h3>{{field}}</h3>
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        {{request_form.as_p}}


                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" id="request_service">Request </button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                        </div>

                      </form>


                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Modal for view service detail -->
            <div class="modal fade" id="view_service_details_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="width: 130%;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Service Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <div class="card-body">
                  <hr>
                    <label>Service name</label>
                    <div class = "border p-1"> {{service_view.service_name}}</div>
                    <label>Image of service</label>
                    <div class = "border p-1"> {{display_service.service_name}}</div>
                    <label>Service Discription</label>
                    <div class = "border p-1"> {{display_service.service_name}}</div>
    
                    <!-- <h2 class="title">Ad Registration</h2> -->
                    <h4>fhj{{display_service.service_name}}</h4>
                    <!-- <img src="{{service_view.images.url }}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> -->

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>

            <div class="d-flex mt-5 align-items-top">
              <img src="{% static 'assets/images/faces/face3.jpg' %}" class="img-sm rounded-circle me-3" alt="image">
              <div class="mb-0 flex-grow">
                <h5 class="me-2 mb-2">School Website - Authentication Module.</h5>
                <p class="mb-0 font-weight-light">It is a long established fact that a reader will be distracted by
                  the readable content of a page.</p>
              </div>
              <div class="ms-auto">
                <i class="mdi mdi-heart-outline text-muted"></i>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %} 