{% extends 'user\user_main_page.html' %}
{% load static %}

{% block dname%}Profile{%endblock%}
{% block serviceProvider %}

 <!-- start of create profile -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User Profile</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Name </th>
                <th> Phone number </th>
                <th> Email </th>
                <th> Image </th>
                <th> Date created</th>
                
              </tr>
            </thead>
            {% for view_service in display %}
            <tbody>
              <tr>
                <td>
                  <img src="{{view_service.image.url}}" class="me-2" alt="image"> {{view_service.category}}
                </td>
                <td> {{view_service.description}}</td>
                <td> {{view_service.date_updated}}</td>
                <td> not found </td>
                <td>
                  <a href = "{% url 'main:update_service'%}" >
                    <i class="mdi mdi-pencil" style="color: rgb(27,207,180); font-size: 1.5rem;" ></i>
                  </a>
                  <!-- for deleting the service -->
                  <form action = "{% url 'main:delete_service' view_service.id %}"method = "POST" class = "d-inline">
                    {% csrf_token %}
                    <button type = "submit" class = "btn">
                        <i class="mdi mdi-minus-circle" style="color: rgb(254,116,150); font-size: 1.5rem;"></i>
                    </button>
                  </form>
                  
                 
                </td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

