{% extends 'service_provider\service_provider_page.html' %}
{% load static %}

{% block dname%}Profile{%endblock%}
{% block serviceProvider %}

<style>
  .img-import {
    margin-right: 20% !important;
    visibility:visible;
  }
</style>
<!-- start of create profile -->
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Service Provider Profile</h4>

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit profile</h4>
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputName1">Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword4">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleSelectGender">Gender</label>
                  <select class="form-control" id="exampleSelectGender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Upload profile photo</label>
                  <input type="file" name="upload" class="file-upload-default img-import" accept = "image/*">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputCity1">City</label>
                  <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">Textarea</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-danger">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Name </th>
                <th> Phone number </th>
                <th> Email </th>
                <th> Service Rendering</th>
                <th> Image Of Service </th>
                <th> Date created</th>

              </tr>
            </thead>
            {% for view_service in display %}
            <tbody>
              <tr>
                <td>
                  <img src="{{view_service.image.url}}" class="me-2" alt="image"> {{view_service.category}}
                </td>
                <td> {{view_service.description}}</td>
                <td> {{view_service.date_updated}}</td>
                <td> not found </td>
                <td>
                  <a href="{% url 'main:update_service'%}">
                    <i class="mdi mdi-pencil" style="color: rgb(27,207,180); font-size: 1.5rem;"></i>
                  </a>
                  <!-- for deleting the service -->
                  <form action="{% url 'main:delete_service' view_service.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                      <i class="mdi mdi-minus-circle" style="color: rgb(254,116,150); font-size: 1.5rem;"></i>
                    </button>
                  </form>


                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>


{% endblock %}